{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <style>
    .dev-banner {
      background-color: #ff0000 !important;
      color: white !important;
      text-align: center;
      font-weight: bold;
      padding: 10px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
      border-bottom: 2px solid black;
    }
    .dev-banner a {
      text-decoration: underline;
    }
    body {
      padding-top: 60px;
    }
  </style>
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      console.log('DOM fully loaded and parsed');
      
      // Check if the page is being served from the dev path
      if (window.location.pathname.includes('/dev/')) {
        console.log('Dev path detected. Adding banner...');
        
        const banner = document.createElement('div');
        banner.className = 'dev-banner';
        banner.innerHTML = 'WARNING! - You are viewing the development version of this site. You should not use anything on this page unless you meant to be here. <a href="/">Click here</a> to go back to the main page.';
        // Add banner to the body
        document.body.prepend(banner);
        
        console.log('Banner added to the DOM.');
      } else {
        console.log('Not on the dev path. No banner added.');
      }
    });
  </script>
{% endblock %}
